@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.wrap .title h1 {
    font-size: 29px;
    color: blue;
}
.wrap .title h2 {
    padding-top: 8px;
    font-family: cursive;
    font-size: 26px;
}
/* button {
    width: 143px;
    height: 36px;
    cursor: pointer;
    font-size: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-image: initial;
    border-radius: 5px;
    background: transparent;
    transition: all 0.5s ease 0s;
}
button:hover{
    background-color: #3498db;
    color: white; */
}